/* CSS Variables */

:root {
    --dark: #333;
    --light: #ddd;
    --blue: rgb(0, 8, 121);
    --orange: goldenrod;
}

/*  Core */

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-family: 'Neucha', cursive;;
    color: var(--dark);
}

body {
    background-color: white;
    line-height: 1.4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem
}

img {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 20px;
}

section {
    padding: 0 1rem;
}

section>div {
    padding: 3rem 0;
}

/* General Classes */

.intro,
.header-section,
footer {
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

.section-1 {
    font-family: 'Cabin Sketch', cursive;
    background-color: white;
    color: black;
    text-align: center;
}

.header-section {
    text-align: center;
    padding: 3rem 0;
    border-bottom: solid white 1px;
}

.header-section h2 {
    display: inline-block;
    padding: 0;
    color: white;
}

.section-body {
    text-align: center;
    color: white;
}

.section-2 {
    background-color: black;
}

.gallery>div {
    margin: 3rem 0;
    border: solid black 1px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 8px black;
    background-color: rgba(77, 72, 64, .3);
    color: white;
    opacity: .8;
}

.gallery>div:hover {
    opacity: 1;
}

.webapp-name {
    font-weight: bold;
    text-align: center;
}

.link-div {
    padding: .5rem 0;
    font-family: 'Raleway', sans-serif;
}

.link-div a{
    color: orange;
}

.description-div {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
}

/* Parallax containers */

.container--small {
	height: 80vh;
}

.parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
  }
  .parallax__container .parallax {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

/* Intro Section */

.intro {
    height: 100vh;
    padding: 0;
}

.info-section {
    background-color: black;
    padding-bottom: 20px;
}

.info-section h1 {
    color: #ddd;
    font-size: 80px;
    font-style: bold;
    font-family: 'Cabin Sketch', cursive;
    background-color: rgba(0, 0, 0, 0.459);
    display: inline;
}

.info-section h4 {
    border-bottom: solid var(--orange) 1px;
}

.headline {
    position: absolute;
    text-align: center;
    top: 75%;
    color: var(--orange);
    background-color: rgba(92, 92, 92, 0.863);
    width: 100%;
}

.headline h1 {
    font-size: 1.5rem;
}

/* Links */

.links-section {
    background-color: rgba(20, 20, 20, 0.6);
}

.links-section a {
    font-size: .8rem;
    color: var(--blue);
}

.links-section a:hover {
    color: var(--orange);
}

/* Footer Section */

.footer {
    height: 100vh;
}

.footer-wrapper {
    width: 100%;
    height: 10vh;
    border-top: 4px solid black;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-image: url('../../assets/img/backgrounds/wooded.jpg');
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

/* Media Queries */

@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-template-areas:
        'info-section links-section'
        'info-section headline';
    }

    .section-1 {
        padding: 4rem;
    }

    .intro-section p {
        padding: 2rem;
        font-size: 1.7rem;
    }

    .info-section {
        grid-area: info-section;
        background-color: transparent;
        width: 50vw;
    }

    .links-section {
        grid-area: links-section;
        text-align: right;
        padding-right: 20px;
    }

    .headline {
        grid-area: headline;
        background-color: rgba(92, 92, 92, 0.863);
        position: unset;
    }

    .headline h1 {
        font-size: 2.5rem;
    }

    .gallery {
        display: grid;
        grid-gap: 3rem;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fill, 400px);
    }

    .footer .links-section {
        text-align: center;
    }
}

/* webkit clip fix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .parallax__container {
      clip: auto;
      -webkit-mask-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    }
  }